@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

::-moz-selection { /* Code for Firefox */
    color: rgb(0, 0, 0);
    background: #ffd95c;
}
  
::selection {
    color: rgb(0, 0, 0);
    background: #ffd95c;
}


body {
    padding: 0px;
    margin: 0px;

    background-color: rgb(12, 6, 3);
    color: white;
}

html {
    scroll-behavior: smooth;
    padding: 0px;

  }

a {
    transition: 0.5s;
}

/* unvisited link */
a:link {
    color: #d4e212;
    text-decoration: none;
    transition: 0.5s;
  }
  
/* visited link */
a:visited {
    color: #d4e212;
    text-decoration: none;
  }
  
/* mouse over link */
a:hover {
    color: rgb(255, 195, 85);
    text-decoration: none;
    transform: translateY(-2px);
  }
  
/* selected link */
a:active {
    color: rgb(183, 255, 0);
    text-decoration: none;
  } 

ul {
    margin-right: 5%;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.align-bottom {
    align-items: baseline;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.g-15 {
    gap: 15px;
}

.g-2vw {
    gap: 5vw;
}

.absolute {
    position: absolute;
}

.w-10vw {
    width: 10vw;
}

.w-30vw {
    width: 30vw;
}

.w-80vw-2px {
    width: calc(90vw - 2px);
}

.w-100p {
    width: 100%;
}

.h-10vh {
    height: 10vh;
}

.h-40vh {
    height: 40vh;
}

.h-100p {
    height: 100%;
}

.m-0p {
    margin: 0px 0px;
}

.mt-1vh {
    margin-top: 1vh;
}

.mt-2vh {
    margin-top: 5vh;
}

.br-2 {
    border-right: rgb(255, 179, 0) solid 2px;
}

.bt-2 {
    border-top: rgb(255, 179, 0) solid 2px;
}

.translate-5p {
    transform: translate(-5vw, -20px) scale(1.21);
}

.z-1 {
    z-index: 10; 
}

.z--1 {
    z-index: 0;
}

.snapHeader {
    cursor: pointer;
}

.green {
    color: #d4e212;
    font-weight: bold;
    font-size: x-large;
}

.p-5p {
    padding: 5% 5%;
}

.flare {
    color: white;
    background-color: #524534;
    border: #ffffff solid 1px;
    border-radius: 25px;
    padding: 5px 10px;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    width: 100%;

    padding: 0.5% 2%;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);

    border-bottom: rgb(255, 187, 0) solid 1px;
}

#links {
    display: flex;
    list-style-type: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#landing-box {
    overflow: hidden;

    background: rgb(255,197,64);
    background: -moz-linear-gradient(0deg, rgba(255,197,64,1) 1%, rgba(230,145,48,1) 6%, rgba(120,63,4,1) 12%, rgba(46,30,14,1) 23%, rgba(17,11,8,1) 46%, rgba(13,9,7,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,197,64,1) 1%, rgba(230,145,48,1) 6%, rgba(120,63,4,1) 12%, rgba(46,30,14,1) 23%, rgba(17,11,8,1) 46%, rgba(13,9,7,1) 100%);
    background: linear-gradient(0deg, rgba(255,197,64,1) 1%, rgba(230,145,48,1) 6%, rgba(120,63,4,1) 12%, rgba(46,30,14,1) 23%, rgba(17,11,8,1) 46%, rgba(13,9,7,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc540",endColorstr="#0d0907",GradientType=1); 
}

#big-boi {
    font-family: 'Poppins', sans-serif;
    font-size: 10vw;
    line-height: 1.5em;

    margin: 0px 0px;
    
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, 2px 2px 0 #ffffff;
}

#mePicture {
    width: 30vw;
    max-width: 15em;
    border-radius: 25px;
    border: #ce940c solid 2px;
    box-shadow: 0 6px 20px 0 rgba(255, 187, 86, 0.2), 0 6px 20px 0 rgba(255, 187, 86, 0.2);
}

#feedback-section {
    padding: 2vw 2vw;
    background-color: #221d19;
    border-radius: 25px;
    border: #ce940c solid 1px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 187, 86, 0.2);
}

.feedback-header {
    margin: 0px 0px;
}

.button-unemphasis {
    border-radius: 25px;
    border: rgb(229, 229, 229) solid 1px;

    color: rgb(200, 200, 200);
    background-color: #000000;
    transition: 0.5s;
}

.button-unemphasis:hover {
    color: black;
    background-color: #d4e212;
    transform: translateY(-2px);
}

.button {
    border-radius: 25px;
    border: rgb(255, 195, 85) solid 1px;

    color: black;
    font-weight: bold;
    background-color: #d4e212;
    transition: 0.5s;
}

.button:hover {
    color: black;
    background-color: rgb(255, 195, 85);
    transform: translateY(-2px);
}

input {
    margin-bottom: 1vh;
}

text {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    
}

footer {
    overflow: hidden;
    padding: 5% 5%;
    margin-top: 10vh;

    background: rgb(13,9,7);
    background: -moz-linear-gradient(0deg, rgba(13,9,7,1) 0%, rgba(17,11,8,1) 46%, rgba(46,30,14,1) 74%, rgba(120,63,4,1) 87%, rgba(230,145,48,1) 96%, rgba(255,197,64,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(13,9,7,1) 0%, rgba(17,11,8,1) 46%, rgba(46,30,14,1) 74%, rgba(120,63,4,1) 87%, rgba(230,145,48,1) 96%, rgba(255,197,64,1) 100%);
    background: linear-gradient(0deg, rgba(13,9,7,1) 0%, rgba(17,11,8,1) 46%, rgba(46,30,14,1) 74%, rgba(120,63,4,1) 87%, rgba(230,145,48,1) 96%, rgba(255,197,64,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d0907",endColorstr="#ffc540",GradientType=1); 
}